{% extends "../../base_email.html" %}
{% block subject %}Invitacion a unirse a Colmena Software{% endblock %}
{% block organization_logo %}
  <img src="{{ backend_host }}/static/images/svg/colmena-isologo.svg"
       alt="Logo organization"
       style="width:193px;
              height:193px">
{% endblock %}
{% block greetings %}<p>¡Hola {{ user.full_name }}!</p>{% endblock %}
{% block content %}
  <p>
    Colmena, super administrador de la Instancia Colmena gestionada por Colmena, te ha invitado a ser {{ role }} de las cuentas de la organización correspondientes a la región {{ region }}.
  </p>
  <dl>
    <dt>Con este botón puedes crear y configurar tu contraseña:</dt>
    <dt>
      <div class="button" style="text-align: center;">
        <a href="{{ invitation_link }}">
          <svg width="130"
               height="56"
               viewBox="0 0 130 56"
               fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <rect width="130" height="56" rx="3" fill="#6A74AD" />
            <text x="30" y="33" fill="white" style="font-family:Montserrat;font-weight:500">Ir al inicio</text>
          </svg>
        </a>
      </div>
    </dt>
  </dl>
</p>
{% endblock %}
{% block regards %}
  <p>Cualquier duda, contesta a este email.</p>
  <p>Saludos afectuosos, {{ support_team }}</p>
{% endblock %}
