{% extends "../../base_email.html" %}
{% block subject %}Creacion de cuenta exitosa en Colmena Software{% endblock %}
{% block organization_logo %}
  <img src="{{ backend_host }}/static/images/svg/colmena-isologo.svg"
       alt="Logo organization"
       style="width:193px;
              height:193px">
{% endblock %}
{% block greetings %}<p>¡Hola {{ user.full_name }}!</p>{% endblock %}
{% block content %}
  <p>
    <p>Nos alegra mucho informarte que tu cuenta en nuestra plataforma de software ha sido creada con éxito. Tu identificación personal en nuestra comunidad es: {{ user.username }}.</p>
    <p>Para acceder, simplemente haz clic en “Ir al inicio” e ingresa las claves que creaste durante el registro.</p>
    <div>
      <img src="{{ backend_host }}/static/images/svg/confirm-signup.svg"
           class="center">
    </div>
    <div class="button" style="text-align: center;">
      <a href="{{ confirmation_link }}">
        <svg width="130"
             height="56"
             viewBox="0 0 130 56"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <rect width="130" height="56" rx="3" fill="#6A74AD" />
          <text x="30" y="33" fill="white" style="font-family:Montserrat;font-weight:500">Ir al inicio</text>
        </svg>
      </a>
    </div>
    <dl>
      <dt>Si alguna vez necesitas restablecer tu contraseña, puedes hacerlo aquí: {{ recovery_link | urlize }}.</dt>
      <dt>
        Explora nuestros manuales y la sección de ayuda en {{ support_web | urlize }} para aprovechar al máximo tu experiencia.
      </dt>
    </dl>
  </p>
{% endblock %}
{% block regards %}
  <p>
    ¡Gracias por formar parte de la red de medios que utiliza nuestra plataforma para mantener viva la información local!
  </p>
  <p>Saludos afectuosos, {{ support_team }}</p>
{% endblock %}
