{% extends "../../base_email.html" %}
{% block subject %}Invitation to join Colmena Software{% endblock %}
{% block organization_logo %}
  <img src="{{ backend_host }}/static/images/svg/colmena-isologo.svg"
       alt="Logo organization"
       style="width:193px;
              height:193px">
{% endblock %}
{% block greetings %}<p>¡Hello {{ user.full_name }}!</p>{% endblock %}
{% block content %}
  <p>
    Colmena, super administrator of Colmena Instance managed by Colmena, has invited you to be {{ role }} of the organization accounts corresponding to the {{ region }} region.
  </p>
  <dl>
    <dt>With this button you can create and configure your password:</dt>
    <dt>
      <div class="button" style="text-align: center;">
        <a href="{{ invitation_link }}">
          <svg width="130"
               height="56"
               viewBox="0 0 130 56"
               fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <rect width="130" height="56" rx="3" fill="#6A74AD" />
            <text x="50" y="33" fill="white" style="font-family:Montserrat;font-weight:500">Link</text>
          </svg>
        </a>
      </div>
    </dt>
  </dl>
</p>
{% endblock %}
{% block regards %}
  <p>Any question, answer this email.</p>
  <p>Best regards, {{ support_team }}</p>
{% endblock %}
