{% extends "../../base_email.html" %}
{% block subject %}Confirmation to join Colmena Software{% endblock %}
{% block organization_logo %}
  {% if organization.logo %}
    <img src="{{ backend_host }}/{{ organization.logo.url }}"
         alt="Logo organization"
         style="width:193px;
                height:193px">
  {% endif %}
{% endblock %}
{% block greetings %}<p>Hello {{ user.full_name }}!</p>{% endblock %}
{% block content %}
  <p>
    We are very happy to inform you that your account on our software platform has been successfully created. Your personal ID in our community is: {{ user.username }}.
    <p>To log in, simply click on "Go to home" and enter the passwords you created during registration.</p>
    <div>
      <img src="{{ backend_host }}/static/images/svg/confirm-signup.svg"
           class="center">
    </div>
    <div class="button" style="text-align: center;">
      <a href="{{ login_url }}">
        <svg width="130"
             height="56"
             viewBox="0 0 130 56"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <rect width="130" height="56" rx="3" fill="#6A74AD" />
          <text x="20" y="33" fill="white" style="font-family:Montserrat;font-weight:500">Go to home</text>
        </svg>
      </a>
    </div>
    <dl>
      <dt>If you ever need to reset your password, you can do so here: {{ recovery_link | urlize }}.</dt>
      <dt>Explore our manuals and help section at {{ support_web | urlize }} to get the most out of your experience.</dt>
    </dl>
  </p>
{% endblock %}
{% block regards %}
  <p>Thank you for being part of the media network that uses our platform to keep local information alive!</p>
  <p>Best regards, {{ support_team }}</p>
{% endblock %}
