{% extends "../../base_email.html" %}
{% block subject %}Convite para ingressar na Colmena Software{% endblock %}
{% block organization_logo %}
  <img src="{{ backend_host }}/static/images/svg/colmena-isologo.svg"
       alt="Logo organization"
       style="width:193px;
              height:193px">
{% endblock %}
{% block greetings %}<p>Olá {{ user.full_name }}!</p>{% endblock %}
{% block content %}
  <p>
    Colmena, super administrador da instância Colmena gerenciada por Colmena, convidou você para ser {{ role }} das contas da organização correspondentes à região {{ region }}.
    <dl>
      <dt>Com este botão, você pode criar e configurar sua senha</dt>
    </dl>
    <div class="button" style="text-align: center;">
      <a href="{{ invitation_link }}">
        <svg width="130"
             height="56"
             viewBox="0 0 130 56"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <rect width="130" height="56" rx="3" fill="#6A74AD" />
          <text x="33" y="33" fill="white" style="font-family:Montserrat;font-weight:500">Ligação</text>
        </svg>
      </a>
    </div>
  </p>
{% endblock %}
{% block regards %}
  <p>Qualquer dúvida, responda a este e-mail.</p>
  <p>Com os melhores cumprimentos, {{ support_team }}</p>
{% endblock %}
