{% extends "../../base_email.html" %}
{% block subject %}Criação de conta com sucesso na Colmena{% endblock %}
{% block organization_logo %}
  <img src="{{ backend_host }}/static/images/svg/colmena-isologo.svg"
       alt="Logo organization"
       style="width:193px;
              height:193px">
{% endblock %}
{% block greetings %}<p>¡Hola {{ user.full_name }}!</p>{% endblock %}
{% block content %}
  <p>
    <p>Temos o prazer de informar que sua conta em nossa plataforma de software foi criada com sucesso. Seu ID pessoal em nossa comunidade é: {{ user.username }}.</p>
    <p>Para fazer login, basta clicar em "Ir para o topo" e digitar as senhas criadas durante o registro.</p>
    <div>
      <img src="{{ backend_host }}/static/images/svg/confirm-signup.svg"
           class="center">
    </div>
    <div class="button" style="text-align: center;">
      <a href="{{ confirmation_link }}">
        <svg width="130"
             height="56"
             viewBox="0 0 130 56"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <rect width="130" height="56" rx="3" fill="#6A74AD" />
          <text x="13" y="33" fill="white" style="font-family:Montserrat;font-weight:500">Ir para o topo</text>
        </svg>
      </a>
    </div>
    <dl>
      <dt>Se precisar redefinir sua senha, você pode fazer isso aqui: {{ recovery_link | urlize }}.</dt>
      <dt>
        Explore nossos manuais e a seção de ajuda em {{ support_web | urlize }} para aproveitar ao máximo sua experiência.
      </dt>
    </dl>
  </p>
{% endblock %}
{% block regards %}
  <p>Obrigado por fazer parte da rede de mídia que usa nossa plataforma para manter vivas as informações locais!</p>
  <p>Com os melhores cumprimentos, {{ support_team }}</p>
{% endblock %}
