{% block subject %}Redefinição de senha{% endblock %}
{% block html %}
  <p>Recebemos uma solicitação para redefinir a senha de sua conta. Para continuar com o processo, clique no link a seguir: {{recovery_link | urlize}}</p>
  
  <p>Se você não solicitou essa alteração, pode ignorar este e-mail e sua senha atual permanecerá inalterada.</p>
  
  <p>Certifique-se de concluir essa etapa dentro de [Prazo, por exemplo, 24 horas] para garantir que o link permaneça válido.</p>

  <p>Se precisar de ajuda adicional ou tiver alguma dúvida, não hesite em entrar em contato conosco.</p>
  
  <p>Obrigado e tenha um ótimo dia!</p>
  
  <p>{{support_team}} (equipe de suporte do software Colmena)</p>
{% endblock %}
